@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  --background: #F1F5F9;
  --foreground: #0F172A;
  
  --luminano-point: #F8FAFC;
  --luminano-accent: #0284C7;
  --luminano-border: #E2E8F0;
}

.dark {
  --background: #0B0F19;
  --foreground: #E2E8F0;
  
  --luminano-point: #161F30;
  --luminano-accent: #00F0FF;
  --luminano-border: #1E293B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-luminano-point: var(--luminano-point);
  --color-luminano-accent: var(--luminano-accent);
  --color-luminano-border: var(--luminano-border);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}
